<html>
  <head>
    <%- include('header.ejs') %>
  </head>
  <body>
    <%- include('menu.ejs') %>
    <div class="container">
      <a href="/cb?id=<%- id %>"><h3><%= id %></h3></a>
      <hr />

      <% data.participants.map((data, index) => { %>
      <div>
        <a href="/cb?id=<%- data.summonerName %>">
          <strong><%= data.summonerName %> </strong>
        </a>
        <br />
        <button
          id="<%- index %>-<%- data.spell1Id%>"
          onclick="changeSpellState(this)"
        >
          spell1 : <%= data.spell1Id %>
        </button>
        <button>spell2 : <%= data.spell2Id %></button>
        <br /><br />
      </div>

      <% }) %>
    </div>
    <%- include('footer.ejs') %>
  </body>
</html>

<script>
  const changeSpellState = (event) => {
    const id = document.getElementById(event.id);
  };
</script>
