<html>
  <head>
    <%- include('header.ejs') %>
    <title><%= id %> - SPELL.TEAM</title>
  </head>
  <body>
    <%- include('menu.ejs') %>
    <div class="container">
      <a href="/cb?id=<%- id %>">
        <h3 onclick=""><%= id %></h3>
      </a>

      해당 유저가 존재하지 않거나, 게임중이 아닙니다!
    </div>
    <%- include('footer.ejs') %>
  </body>
</html>
