<html>
  <head>
    <%- include('header.ejs') %>
    <title><%= id %> - spell.team</title>
  </head>

  <script>

    window.onload = () => {
      const test = document.getElementById("0-0-container");
      const test_time = document.getElementById("0-0-time");
  
      let spellState = 0
  
    const updateSpellState = () => { 
      let timeLeft = 200;
      test.style.background = "rgba(0, 0, 0, .5)";
      test_time.innerHTML = `${timeLeft}`;
  
      if(spellState == 0){
        test.style.background = "rgba(0, 0, 0, 0)";
          test_time.innerHTML = "";
          spellState = 0;
          return;
      }
  
      spellState = 1;
  
      const timer = setInterval(() => {
        if (timeLeft == 0) {
          test.style.background = "rgba(0, 0, 0, 0)";
          test_time.innerHTML = ""
          clearInterval(timer);
          spellState = 0;
          return;
        }
        console.log("하")
        timeLeft -= 1;
        test_time.innerHTML = `${timeLeft}`;
        
      }, 1000);
    };
  
    test.addEventListener("click", updateSpellState);
  
    }
  
    
  </script>

  <body>
    
    <%- include('menu.ejs') %>
    <div class="container">
      
      <br />
      <h5><a href="/cb?id=<%- id %>"><%= id %></a> 플레이 중인 게임</h5>
      <hr />

      <div class="row">
        <% data.participants.some((data, index) => { %>
          
          <% if(index == 0 || index == 5) { %>
          <div class="col-sm-6">
            <div style="margin-bottom: 10px">
            <% if(index == 0) { %>
              <p class="text-primary">Blue 팀</p>
            <% } else { %>
              <p class="text-danger">Red 팀</p>
            <% } %>
          </div>
          <% } %> 
          
          <% if(index < 5) { %>
            <div class="row" style="background-color: #d6eaf8; margin-bottom: 10px;">
          <% } else { %>
          <div
            class="row"
            style="background-color: #fadbd8; margin-bottom: 10px;"
          >
          <% } %>

            <div class="col">
              <img src="/static/champions/<%= data.championId %>.png" style="width: 64px; height: 64px;"/>

              <% if(data.summonerName == id) { %>
              <strong><%= data.summonerName %> </strong>
              <% } else { %>
              <a href="/cb?id=<%- data.summonerName %>" target="_blank">
                <strong><%= data.summonerName %> </strong>
              </a>
              <% } %>
              <br />
            </div>
            <div class="col-auto row">
              <div
                id="<%- index %>-0"
                class="col-auto"
                style="position: relative"
              >
                <img src="/static/spells/<%- data.spell1Id %>.png" />
                <div
                  id="<%- index %>-0-container"
                  style="
                    z-index: 999;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    width: 64px;
                    height: 64px;
                    transform: translate(-50%, -50%);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                  "
                >
                  <div
                    id="<%- index %>-0-time"
                    style="
                      font-weight: bold;
                      font-size: 16px;
                      color: #ffffff;
                      margin-bottom: 0;
                    "
                  ></div>
                </div>
              </div>
              <div class="col-auto">
                <img src="/static/spells/<%- data.spell2Id %>.png" />
              </div>
            </div>
          </div>

          <% if(index == 4 || index == 9) { %>
        </div>
        <% } %> <% }) %>
      </div>
    </div>

    <div class="container">
      <div class="form-floating">
        <textarea class="form-control" id="log" style="height: 100px; font-size: 0.8em;" readonly>
        </textarea>
        <label for="log">로그 (ws)</label>
      </div>
    </div>

    <%- include('footer.ejs') %>
  </body>
</html>


